[user]
	name = paul.gross@centare.com
	email = paul.gross@centare.com

[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
[difftool]
	prompt = false
[diff]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
[mergetool]
	keepBackup = false
[merge]
	tool = kdiff3

[push]
	default = simple

[core]
	excludesfile = "c:/users/paul.gross/.gitignore_global"
	autocrlf = true
[credential]
	helper = wincred
[credential "https://centare.visualstudio.com"]
	username = paul.gross@centare.com
[credential "https://tfs.centare.com"]
	username = paul.gross@centare.com
